body {
	width: 1000px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: black;
}

button  {
	background-color: rgb(216, 101, 155);
	border: 2px solid rgb(216, 101, 155);
	height: 30px;
	width: 70px;
	border-radius: 10px;
	color: #fff;
}

button:hover {
	background-color: rgba(216, 101, 155, 0.911);
}

h1, h4{
	text-align: center;
	text-decoration: none;
	color: inherit;
}


/* index.php */
.t_list {
	margin-top: 40px;
	margin-left:10%; 
    margin-right:10%;
}

.t_list thead th{
	height:40px;
	border-top:2px solid rgb(216, 101, 155);
	border-bottom:2px solid rgb(216, 101, 155);
	font-weight: bold;
	font-size: 17px;
}

.t_list tbody td{
	
	padding:10px 0;
	border-bottom:1px solid #ccc; 
	height:20px;
	font-size: 15px 
}

#index_write_btn, #se_btn {	
	margin-top:30px;
	margin-left : 830px;
}


/* write.html */

.t_write{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

#write_title {
	margin-top:30px;
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

#write_title textarea  {
	font-size:26px;
	color:rgb(155, 155, 155);
	width: 600px;
	resize: none;
	border : 1.5px solid rgb(155, 155, 155);
	margin: 0 auto;
}

#write_content {
	margin-top:10px;
}

#write_content textarea {
	font:15px;
	color:#333;
	width: 600px;
	height: 400px;
	resize: none;
	border : 1.5px solid rgb(155, 155, 155);
}

#write_file, #write_pw, #write_name{
	font-size: 13px;
	width: 170px;
	resize: none;
	margin-left: 200px;
}

#write_btn{
	margin-left: -540px;
}

#write_name textarea{
	resize: none;
	width:170px;
}

/* read.php */
.content{
	margin-top: 10px;
	background-color: (0,0,0,0);
	padding-top: 10px;
	padding-bottom: 10px;
	height: 450px;
	border-style: solid;
	border-width: 1.5px 0px 1.5px 0px;
	border-color: rgba(0, 0, 0, 0.233);
	text-align: center;
}

#read_btn {
	font-size: 20px;
	text-align: center;
}

#read_name{
	font-size: 18px;
}

#read_info{
	font-size: 14px;
	color: #333;
}

#read_file{
	text-align: right;
	padding-right: 15px;
	padding-top: 10px;
}

#file_img {
	text-align: center;
	margin-bottom: 15px;
}



/* modify.php */

#modify_title {
	margin-top:30px;
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}
#modify_title textarea  {
	font-size:26px;
	color:#333;
	width: 600px;
	resize: none;
	margin: 0 auto;
	border : 1.5px solid rgb(155, 155, 155);
}

#modify_content {
	margin-top:10px;
}

#modify_content textarea {
	font:15px;
	color:#333;
	width: 600px;
	height: 400px;
	resize: none;
	margin-left: 200px;
	border : 1.5px solid rgb(155, 155, 155);
}

#modify_name textarea, #modify_pw textarea, #modify_file, #modify_btn, #modify_pw{
	font-size: 13px;
	width: 170px;
	resize: none;
	margin-left: 200px;
	margin-top: 5px;
}

/* search.php */
#search{
	text-align: center;
	text-decoration: none;
	margin-top: 30px;
}


/* 페이징 */
#page_num {
	font-size: 14px;
	margin-left: 400px;
	margin-top:30px; 
	text-align: center;
	
}
#page_num ul li {
	float: left;
	margin-left: 10px; 
	text-align: center;
	list-style: none;
	text-decoration-line: none ;
}

.co_page {
	font-weight: bold;
	color:rgb(255, 85, 85);
}


/* delete.html */
.t_delete {
	background-color: rgb(228, 228, 228);
}

#delete_pw, #delete_btn{
	font-size: 13px;
	width: 170px;
	resize: none;
	margin-top: 50px;
	margin-left: 415px;
	text-align: center;
}

#delete_btn{
	margin-top: 10px;
}

.reply_box{
	
}

#reply_title{
	width:800px;
	margin-top: 5px 5px;
	font-size: 13px;
	resize: none;
}

#reply_content{
	width: 800px;
	height: 60px;
	margin-top: 10px;
	margin-bottom: 12px;
	border : 1.5px solid rgb(155, 155, 155);
	font:15px;
	color:#333;
	resize: none;
}

#reply_name{
	width:170px;
	height: 15px;
	
	font-size: 13px;
	resize: none;

}



.repl{

	font-weight: bold;
	color:rgb(255, 85, 85);
}


.reply_list{
	padding: 5px 5px;
	list-style:none;
	margin-top: 10px;
}


#reply_list_name{
	color :rgb(29, 19, 19);
	font-weight: bold;
}

#reply_list_date{

	color: rgba(29, 19, 19, 0.788);
	font-size: 14px;
}


#reply{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

#reply_btn{
	margin: 10px;
}
